codigo/flows (15).json
[{"id":"79f2d19fb34c357f","type":"tab","label":"Flow 1","disabled":true,"locked":true,"info":"","env":[]},{"id":"9a12fbfa55548641","type":"function","z":"79f2d19fb34c357f","name":"Inputs States Code","func":"msg.payload = {\n    'fc': 2,\n    'unitid': 1,\n    'address': 0x0000,\n    'quantity': 8,\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":80,"wires":[["c89b2ec96bc02737"]]},{"id":"1fe3b59c8a9f7052","type":"inject","z":"79f2d19fb34c357f","name":"Every 1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["9a12fbfa55548641"]]},{"id":"c89b2ec96bc02737","type":"modbus-flex-getter","z":"79f2d19fb34c357f","name":"Leitura Inputs","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"da4314eb3b1a0e0a","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":600,"y":80,"wires":[["243375fc71d73816"],[]]},{"id":"243375fc71d73816","type":"function","z":"79f2d19fb34c357f","name":"Split Input e send to HA","func":"var msg1 = { payload: msg.payload[0] };\nvar msg2 = { payload: msg.payload[1] };\nvar msg3 = { payload: msg.payload[2] };\nvar msg4 = { payload: msg.payload[3] };\nvar msg5 = { payload: msg.payload[4] };\nvar msg6 = { payload: msg.payload[5] };\nvar msg7 = { payload: msg.payload[6] };\nvar msg8 = { payload: msg.payload[7] };\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];","outputs":8,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":80,"wires":[["ad495af3fd6725e8"],["07a783a3f1bde011"],["b638835ce3152d6e"],["10338ba4e54a8531"],["31112fd788592508"],["3d50d78658c465aa"],["ec498dcabbf0f482"],["f3fe3814539febc3"]]},{"id":"ad495af3fd6725e8","type":"ha-binary-sensor","z":"79f2d19fb34c357f","name":"Input_1","entityConfig":"c07f03f1437df03b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1300,"y":40,"wires":[[]]},{"id":"07a783a3f1bde011","type":"ha-binary-sensor","z":"79f2d19fb34c357f","name":"Input_2","entityConfig":"fa5c66b4485762ce","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1300,"y":100,"wires":[[]]},{"id":"b638835ce3152d6e","type":"ha-binary-sensor","z":"79f2d19fb34c357f","name":"Input_3","entityConfig":"fbc80e9149edc254","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1300,"y":160,"wires":[[]]},{"id":"10338ba4e54a8531","type":"ha-binary-sensor","z":"79f2d19fb34c357f","name":"Input_4","entityConfig":"fc70385b0091a7b9","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1300,"y":220,"wires":[[]]},{"id":"31112fd788592508","type":"ha-binary-sensor","z":"79f2d19fb34c357f","name":"Input_5","entityConfig":"0100ff7032874907","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1300,"y":280,"wires":[[]]},{"id":"3d50d78658c465aa","type":"ha-binary-sensor","z":"79f2d19fb34c357f","name":"Input_6","entityConfig":"d5cdaf54ea5973e5","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1300,"y":340,"wires":[[]]},{"id":"ec498dcabbf0f482","type":"ha-binary-sensor","z":"79f2d19fb34c357f","name":"Input_7","entityConfig":"54c1c36e569b815b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1300,"y":400,"wires":[[]]},{"id":"f3fe3814539febc3","type":"ha-binary-sensor","z":"79f2d19fb34c357f","name":"Input_8","entityConfig":"1c4249d94ef1e54f","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1300,"y":460,"wires":[[]]},{"id":"2bdea1e0c3366602","type":"ha-switch","z":"79f2d19fb34c357f","name":"Relay 1 Switch","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"064b072e63eed809","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":120,"y":280,"wires":[["a81304978852bbad"],["a81304978852bbad"]]},{"id":"a81304978852bbad","type":"modbus-write","z":"79f2d19fb34c357f","name":"Control Relay 1","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"da4314eb3b1a0e0a","emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":380,"y":280,"wires":[["f7dd0e49e3541b96"],[]]},{"id":"969540698b240d4e","type":"ha-switch","z":"79f2d19fb34c357f","name":"Relay 2 Switch","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"2c7863881b0bae10","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":120,"y":340,"wires":[["fbd89d4ad9291753"],["fbd89d4ad9291753"]]},{"id":"fbd89d4ad9291753","type":"modbus-write","z":"79f2d19fb34c357f","name":"Control Relay 2","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"Coil","adr":"1","quantity":"1","server":"da4314eb3b1a0e0a","emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":380,"y":340,"wires":[[],[]]},{"id":"e28ba8ca10e05a2e","type":"modbus-write","z":"79f2d19fb34c357f","name":"Control Relay 3","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"Coil","adr":"2","quantity":"1","server":"da4314eb3b1a0e0a","emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":380,"y":400,"wires":[[],[]]},{"id":"7aaf626b380ae187","type":"modbus-write","z":"79f2d19fb34c357f","name":"Control Relay 4","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"Coil","adr":"3","quantity":"1","server":"da4314eb3b1a0e0a","emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":380,"y":460,"wires":[[],[]]},{"id":"e57e53c5d14d9861","type":"modbus-write","z":"79f2d19fb34c357f","name":"Control Relay 5","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"Coil","adr":"4","quantity":"1","server":"da4314eb3b1a0e0a","emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":860,"y":280,"wires":[[],[]]},{"id":"5915ecf4474115c5","type":"modbus-write","z":"79f2d19fb34c357f","name":"Control Relay 6","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"Coil","adr":"5","quantity":"1","server":"da4314eb3b1a0e0a","emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":860,"y":340,"wires":[[],[]]},{"id":"8ac918d68a7bc120","type":"modbus-write","z":"79f2d19fb34c357f","name":"Control Relay 7","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"Coil","adr":"6","quantity":"1","server":"da4314eb3b1a0e0a","emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":860,"y":400,"wires":[[],[]]},{"id":"6489a8b3c9226a9e","type":"modbus-write","z":"79f2d19fb34c357f","name":"Control Relay 8","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"Coil","adr":"7","quantity":"1","server":"da4314eb3b1a0e0a","emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":860,"y":460,"wires":[[],[]]},{"id":"767afb5cee653bd3","type":"ha-switch","z":"79f2d19fb34c357f","name":"Relay 3 Switch","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"5463a16a2e7455ff","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":120,"y":400,"wires":[["e28ba8ca10e05a2e"],["e28ba8ca10e05a2e"]]},{"id":"6ebbb6b1a76d243f","type":"ha-switch","z":"79f2d19fb34c357f","name":"Relay 4 Switch","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"5988731566767d42","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":120,"y":460,"wires":[["7aaf626b380ae187"],["7aaf626b380ae187"]]},{"id":"d60f9fd406bb9b1d","type":"ha-switch","z":"79f2d19fb34c357f","name":"Relay 5 Switch","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"705041e4ef713d4e","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":600,"y":280,"wires":[["e57e53c5d14d9861"],["e57e53c5d14d9861"]]},{"id":"85dee9dc8f19bc14","type":"ha-switch","z":"79f2d19fb34c357f","name":"Relay 6 Switch","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"9036204512de18e0","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":600,"y":340,"wires":[["5915ecf4474115c5"],["5915ecf4474115c5"]]},{"id":"c8fdd2fd0033f405","type":"ha-switch","z":"79f2d19fb34c357f","name":"Relay 7 Switch","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"cdfa722e68be8232","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":600,"y":400,"wires":[["8ac918d68a7bc120"],["8ac918d68a7bc120"]]},{"id":"f6a28123a549a43a","type":"ha-switch","z":"79f2d19fb34c357f","name":"Relay 8 Switch","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"0f0fcbdeb4498fe2","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":600,"y":460,"wires":[["6489a8b3c9226a9e"],["6489a8b3c9226a9e"]]},{"id":"c4a390ad8c0c12e9","type":"modbus-write","z":"79f2d19fb34c357f","name":"Control All Relays","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"Coil","adr":"255","quantity":"1","server":"da4314eb3b1a0e0a","emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":830,"y":520,"wires":[[],[]]},{"id":"19c29b182e7e0eab","type":"ha-switch","z":"79f2d19fb34c357f","name":"Relay ALL Switch","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"0ebba771276f2b16","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":120,"y":520,"wires":[["c4a390ad8c0c12e9"],["c4a390ad8c0c12e9"]]},{"id":"fc30701f7276f44c","type":"function","z":"79f2d19fb34c357f","name":" Relays State Code","func":"msg.payload = {\n    'fc': 1,\n    'unitid': 1,\n    'address': 0x0000,\n    'quantity': 8,\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":720,"wires":[["88608ca92042f94c"]]},{"id":"eb7d5248e17f7926","type":"inject","z":"79f2d19fb34c357f","name":"Every 3s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":740,"wires":[["fc30701f7276f44c"]]},{"id":"88608ca92042f94c","type":"modbus-flex-getter","z":"79f2d19fb34c357f","name":"Leitura Inputs","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"da4314eb3b1a0e0a","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":280,"y":860,"wires":[["924f0c26cde202be"],[]]},{"id":"924f0c26cde202be","type":"function","z":"79f2d19fb34c357f","name":"Split Relay Update States","func":"var msg1 = { payload: msg.payload[0] };\nvar msg2 = { payload: msg.payload[1] };\nvar msg3 = { payload: msg.payload[2] };\nvar msg4 = { payload: msg.payload[3] };\nvar msg5 = { payload: msg.payload[4] };\nvar msg6 = { payload: msg.payload[5] };\nvar msg7 = { payload: msg.payload[6] };\nvar msg8 = { payload: msg.payload[7] };\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];","outputs":8,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":960,"wires":[["43467817b992ee4d"],["dd8abec564936eba"],["58188376fcb37856"],["3c63d719b72295bf"],["608e7bde8bb6dc8a"],["2ccec7a92ea33ed5"],["e77e8238558fa112"],["c6173a5d745b1220"]]},{"id":"942e761033a22d74","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":540,"wires":[[]]},{"id":"9f676a0d28fb414a","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":600,"wires":[[]]},{"id":"43467817b992ee4d","type":"switch","z":"79f2d19fb34c357f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":580,"wires":[["942e761033a22d74"],["9f676a0d28fb414a"]]},{"id":"9e3fbd9dcf81e04f","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":660,"wires":[[]]},{"id":"60223ec6f7cb1887","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":720,"wires":[[]]},{"id":"dd8abec564936eba","type":"switch","z":"79f2d19fb34c357f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":700,"wires":[["9e3fbd9dcf81e04f"],["60223ec6f7cb1887"]]},{"id":"987b44a1578c2bcd","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":780,"wires":[[]]},{"id":"8922c6c058ae0871","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":840,"wires":[[]]},{"id":"58188376fcb37856","type":"switch","z":"79f2d19fb34c357f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":820,"wires":[["987b44a1578c2bcd"],["8922c6c058ae0871"]]},{"id":"17266a4ee9085f7a","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_4"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":900,"wires":[[]]},{"id":"834920fb1155161d","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_4"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":960,"wires":[[]]},{"id":"3c63d719b72295bf","type":"switch","z":"79f2d19fb34c357f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":940,"wires":[["17266a4ee9085f7a"],["834920fb1155161d"]]},{"id":"4c76f1451f0b3436","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":1020,"wires":[[]]},{"id":"6d5ba0f3edc97d24","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":1080,"wires":[[]]},{"id":"608e7bde8bb6dc8a","type":"switch","z":"79f2d19fb34c357f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":1060,"wires":[["4c76f1451f0b3436"],["6d5ba0f3edc97d24"]]},{"id":"38fa4487de7303d7","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_6"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":1140,"wires":[[]]},{"id":"1b798daf30c1fce8","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_6"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":1200,"wires":[[]]},{"id":"2ccec7a92ea33ed5","type":"switch","z":"79f2d19fb34c357f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":1180,"wires":[["38fa4487de7303d7"],["1b798daf30c1fce8"]]},{"id":"97915bb75a8b8582","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_7"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":1260,"wires":[[]]},{"id":"0f42296a0a0a25d1","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_7"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":1320,"wires":[[]]},{"id":"e77e8238558fa112","type":"switch","z":"79f2d19fb34c357f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":1300,"wires":[["97915bb75a8b8582"],["0f42296a0a0a25d1"]]},{"id":"36fdc33451241979","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_8"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":1380,"wires":[[]]},{"id":"e017a2385f1af961","type":"api-call-service","z":"79f2d19fb34c357f","name":"","server":"69ed55e42b1170ce","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_8"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":1440,"wires":[[]]},{"id":"c6173a5d745b1220","type":"switch","z":"79f2d19fb34c357f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":1420,"wires":[["36fdc33451241979"],["e017a2385f1af961"]]},{"id":"6ad3dd75b9339a73","type":"ha-select","z":"79f2d19fb34c357f","name":"All Input Type","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"296c7e7f1d76c4b2","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":90,"y":1380,"wires":[["1d4bd8352ca2afa1","a9662e27d0d06560","e17bae9372763849","114249e244fd0bf3","b2dfdfd656ed8bbb","01fef89309de3bdd","833efeb79f7f2932","fcc38453a9beba9b"]]},{"id":"1d4bd8352ca2afa1","type":"function","z":"79f2d19fb34c357f","name":"Change Input 1 Type","func":"if (msg.payload === 'Disconnected') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1000,\n        'quantity': 1,\n        'value': 0\n    }\n}\nelse if (msg.payload === 'Linkage') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1000,\n        'quantity': 1,\n        'value': 1\n    }\n}\nelse {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1000,\n        'quantity': 1,\n        'value': 2\n    }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1160,"wires":[["6c7c97c2b02b9174"]]},{"id":"6c7c97c2b02b9174","type":"modbus-flex-write","z":"79f2d19fb34c357f","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"da4314eb3b1a0e0a","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":710,"y":1360,"wires":[[],[]]},{"id":"a9662e27d0d06560","type":"function","z":"79f2d19fb34c357f","name":"Change Input 2 Type","func":"if (msg.payload === 'Disconnected') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1001,\n        'quantity': 1,\n        'value': 0 }\n}\nelse if (msg.payload === 'Linkage') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1001,\n        'quantity': 1,\n        'value': 1 }\n}\nelse {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1001,\n        'quantity': 1,\n        'value': 2 }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1220,"wires":[["6c7c97c2b02b9174"]]},{"id":"e17bae9372763849","type":"function","z":"79f2d19fb34c357f","name":"Change Input 3 Type","func":"if (msg.payload === 'Disconnected') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1002,\n        'quantity': 1,\n        'value': 0 }\n}\nelse if (msg.payload === 'Linkage') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1002,\n        'quantity': 1,\n        'value': 1 }\n}\nelse {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1002,\n        'quantity': 1,\n        'value': 2 }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1280,"wires":[["6c7c97c2b02b9174"]]},{"id":"114249e244fd0bf3","type":"function","z":"79f2d19fb34c357f","name":"Change Input 4 Type","func":"if (msg.payload === 'Disconnected') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1003,\n        'quantity': 1,\n        'value': 0 }\n}\nelse if (msg.payload === 'Linkage') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1003,\n        'quantity': 1,\n        'value': 1 }\n}\nelse {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1003,\n        'quantity': 1,\n        'value': 2 }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1340,"wires":[["6c7c97c2b02b9174"]]},{"id":"b2dfdfd656ed8bbb","type":"function","z":"79f2d19fb34c357f","name":"Change Input 5 Type","func":"if (msg.payload === 'Disconnected') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1004,\n        'quantity': 1,\n        'value': 0 }\n}\nelse if (msg.payload === 'Linkage') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1004,\n        'quantity': 1,\n        'value': 1 }\n}\nelse {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1004,\n        'quantity': 1,\n        'value': 2 }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1400,"wires":[["6c7c97c2b02b9174"]]},{"id":"01fef89309de3bdd","type":"function","z":"79f2d19fb34c357f","name":"Change Input 6 Type","func":"if (msg.payload === 'Disconnected') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1005,\n        'quantity': 1,\n        'value': 0 }\n}\nelse if (msg.payload === 'Linkage') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1005,\n        'quantity': 1,\n        'value': 1 }\n}\nelse {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1005,\n        'quantity': 1,\n        'value': 2 }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1460,"wires":[["6c7c97c2b02b9174"]]},{"id":"833efeb79f7f2932","type":"function","z":"79f2d19fb34c357f","name":"Change Input 7 Type","func":"if (msg.payload === 'Disconnected') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1006,\n        'quantity': 1,\n        'value': 0 }\n}\nelse if (msg.payload === 'Linkage') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1006,\n        'quantity': 1,\n        'value': 1 }\n}\nelse {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1006,\n        'quantity': 1,\n        'value': 2 }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1520,"wires":[["6c7c97c2b02b9174"]]},{"id":"fcc38453a9beba9b","type":"function","z":"79f2d19fb34c357f","name":"Change Input 8 Type","func":"if (msg.payload === 'Disconnected') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1007,\n        'quantity': 1,\n        'value': 0 }\n}\nelse if (msg.payload === 'Linkage') {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1007,\n        'quantity': 1,\n        'value': 1 }\n}\nelse {\n    msg.payload = {\n        'fc': 6,\n        'unitid': 1,\n        'address': 0x1007,\n        'quantity': 1,\n        'value': 2 }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1580,"wires":[["6c7c97c2b02b9174"]]},{"id":"d55a2ef918bdc9a2","type":"ui_switch","z":"79f2d19fb34c357f","name":"","label":"switch","tooltip":"","group":"8748c03b9032d777","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":230,"y":200,"wires":[["a81304978852bbad"]]},{"id":"eaa608cda5cda2e6","type":"inject","z":"79f2d19fb34c357f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":620,"wires":[["a81304978852bbad"]]},{"id":"7bfa62fb8a189f11","type":"inject","z":"79f2d19fb34c357f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":680,"wires":[["a81304978852bbad"]]},{"id":"f7dd0e49e3541b96","type":"debug","z":"79f2d19fb34c357f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":180,"wires":[]},{"id":"da4314eb3b1a0e0a","type":"modbus-client","name":"ttyACM0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyACM0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true,"showErrors":true,"showWarnings":true,"showLogs":true},{"id":"c07f03f1437df03b","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"input1","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Input 1"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"fa5c66b4485762ce","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"input2","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Input 2"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"fbc80e9149edc254","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"input3","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Input 3"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"fc70385b0091a7b9","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"input4","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Input 4"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"0100ff7032874907","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"input5","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Input 5"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"d5cdaf54ea5973e5","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"input6","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Input 6"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"54c1c36e569b815b","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"input7","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Input 7"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"1c4249d94ef1e54f","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"input8","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Input 8"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"064b072e63eed809","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"relay1","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Relay 1"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"2c7863881b0bae10","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"relay2","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Relay 2"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"5463a16a2e7455ff","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"relay3","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Relay 3"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"5988731566767d42","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"relay4","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Relay 4"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"705041e4ef713d4e","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"relay5","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Relay 5"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"9036204512de18e0","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"relay6","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Relay 6"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"cdfa722e68be8232","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"relay7","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Relay 7"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"0f0fcbdeb4498fe2","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"relay8","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Relay 8"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"0ebba771276f2b16","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"allrelays","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"All Relays"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"69ed55e42b1170ce","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"296c7e7f1d76c4b2","type":"ha-entity-config","server":"69ed55e42b1170ce","deviceConfig":"f3169cc07c51d59b","name":"allinputtype","version":"6","entityType":"select","haConfig":[{"property":"name","value":"All Input Type"},{"property":"icon","value":"mdi:connection"},{"property":"entity_picture","value":""},{"property":"entity_category","value":"config"},{"property":"options","value":["Disconnected","Linkage","Pulse Switch"]}],"resend":false,"debugEnabled":false},{"id":"8748c03b9032d777","type":"ui_group","name":"Default","tab":"905c44186ef0df9b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f3169cc07c51d59b","type":"ha-device-config","name":"Waveshare Modbus RTURelay (D)","hwVersion":"","manufacturer":"Waveshare","model":"Modbus RTU Relay (D)","swVersion":""},{"id":"905c44186ef0df9b","type":"ui_tab","name":"WD","icon":"dashboard","disabled":false,"hidden":false}]